<% layout('layout/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Campgroud</h1>
  <div class="col-6 offset-3">
    <h1>Add Campground</h1>
    <form action="/campgrounds" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="campground[title]"
        />
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="campground[location]"
        />
      </div>
      <button>Add Campground</button>
    </form>
    <a href="/campgrounds">All Campgrounds</a>
  </div>
</div>
